{% for comment in comments %}
    {% if comment.parent is null %}
        <div class="commentDiv">
            <div class="mb-1">
                <img src="{{ comment.user.profilePicture }}" alt="" class="smallProfilePicture">
                <a href="{{ path('show_my_account', {accountAlias: comment.user.accountAlias}) }}">  {{ comment.user.fullname }}</a>
            </div>
            <div style="border-bottom: 1px solid rgba(184,184,184, 0.5)">{{ comment.text }}</div>
            <span class="replay font-weight-bold" data-id="{{ comment.id }}" data-user="{{ comment.user.fullname }}">Replay</span>
            {% if comment.comments|length > 0 %}
                <span data-flag="hide" class="show-replays" data-id="{{ comment.id }}" data-count="{{ comment.comments|length }}">Show replays</span>
                <div class="replays-container"></div>
                <a href="" class="show-more-replays d-none" data-offset="0" data-id="{{ comment.id }}">Show more replays</a>
            {% endif %}
        </div>
        <div class="replayArea d-none">
            <form class="commentForm" action="{{ path('leave_comment', {postId: post.id}) }}" method="post">
                <input type="text" name="commentId" class="d-none commentId">
                <textarea name="commentInputField" rows='1' class="commentInputField form-group" placeholder="Leave a comment..."></textarea>
            </form>
        </div>
    {% endif %}
{% endfor %}
