{% for comment in comments %}
    {% if comment.parent is null %}
        <div class="commentDiv">
            <div class="mb-1">
                <img src="{{ comment.user.profilePicture }}" alt="" class="smallProfilePicture">
                <a href="{{ path('show_my_account', {accountAlias: comment.user.accountAlias}) }}">  {{ comment.user.fullname }}</a>
            </div>
            <div style="border-bottom: 1px solid rgba(184,184,184, 0.5)">{{ comment.text }}</div>
            <span class="replay font-weight-bold" data-id="{{ comment.id }}" data-user="{{ comment.user.fullname }}">Replay</span>
            {% for replay in comment.comments %}
                <div class="replayDiv">
                    <div>
                        <img src="{{ replay.user.profilePicture }}" alt="" class="smallProfilePicture">
                        <a href="{{ path('show_my_account', {accountAlias: replay.user.accountAlias}) }}">  {{ replay.user.fullname }}</a>
                    </div>
                    <div style="border-bottom: 1px solid rgba(184,184,184, 0.5)">{{ replay.text }}</div>
                    <span class="replay font-weight-bold" data-status="replay" data-id="{{ replay.id }}" data-user="{{ replay.user.fullname }}">Replay</span>
                </div>
            {% endfor %}
            {% for replay in comment.comments %}
                {% for tagReplay in replay.comments %}
                    <div class="replayDiv">
                        <div>
                            <img src="{{ tagReplay.user.profilePicture }}" alt="" class="smallProfilePicture">
                            <a href="{{ path('show_my_account', {accountAlias: tagReplay.user.accountAlias}) }}">  {{ tagReplay.user.fullname }}</a>
                        </div>
                        <div style="border-bottom: 1px solid rgba(184,184,184, 0.5)">{{ tagReplay.text }}</div>
                        <span class="replay font-weight-bold" data-status="replay" data-id="{{ tagReplay.id }}" data-user="{{ tagReplay.user.fullname }}">Replay</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="replayArea d-none">
            <form class="commentForm form-inline" action="{{ path('leave_comment', {postId: post.id}) }}" method="post">
                <input type="text" name="commentId" class="d-none commentId">
                <div class="form-group">
                    <textarea name="commentInputField" rows='1' class="commentInputField form-group" placeholder="Leave a comment..."></textarea>
                </div>
                <div class="form-group">
                    <button class="bg-transparent border-0 form-group"><img src="https://icons-for-free.com/iconfiles/png/512/envelope+letter+mail+message+send+sent+icon-1320162089456754985.png" style="width: 25px;" alt=""></button>
                </div>
            </form>
        </div>
    {% endif %}
{% endfor %}


