{% set activeSubtree = comment.getComments(post.id) %}
{% import _self as macro %}

{{ macro.multilevel(activeSubtree) }}
{% macro multilevel(array) %}
    {% import _self as macro %}
    <ul class="list-unstyled">
        {% for item in array %}
            <li class="{% if item.children is iterable %} m-3 {% endif %}">
                <img src="{{ item.user.profilePicture }}" class="smallProfilePicture mr-2" alt="">
                <span class="mr-2"><b><a href="">{{ item.user.fullname }}</a></b></span>
                <span>{{ item.text }}</span><br>
                <span class="replay" data-status="replay"><a href="">replay</a></span>
                {% if item.children is iterable %}
                    {% if item.children|length > 0 %}
                        <span class="show-replays float-right"><a href="">{{ item.children|length }} replays</a></span>
                    {% endif %}
                    <div class="replays-wrapper"></div>
                    {{ macro.multilevel(item.children) }}
                {% else %}
                    {{ item.children.text }}
                {% endif %}
                <div class="replayDiv d-none">
                    <form class="commentForm" action="{{ path('leave_comment', {postId: item.post.id, parentId: item.id}) }}" method="post">
                        <textarea name="commentInputField" class="commentInputField" rows='1' placeholder="Leave a comment..."></textarea>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}