{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <input type="hidden" class="userId" value="{{ user.id }}">
        <div class="row">
            <div class="col-4" style="border: 2px solid yellow">
                <div class="profileData mt-3">
                    <div class="profileImage">
                        <img src="{{ user.profilePicture }}" alt="">
                    </div>
                    <h3><b>{{ user.fullName }}</b></h3>
                    <h4>born <b>{{ user.dateOfBirth|date('d. m. Y.') }}</b></h4>
                    <h4>from <b>{{ user.countryAndCity }}</b></h4>
                    <p class="mt-4 mb-4">{{ user.additionalInformation }}</p>
                    <div class="row sideGallery">
                        {% for image in myImages %}
                            <div class="col-4 mb-4">
                                <img src="{{ image.url }}" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h1 class="text-center">Posts</h1>
                <div class="newPost">
                    <form action="{{ path('post_new') }}" class="postClass" method="post" enctype="multipart/form-data">
                        <textarea style="height: 150px" class="form-control" placeholder="Type new post..." name="newPost" id="newPost" rows="200" maxlength="255"></textarea>
                        <input type="file" class="images" accept='image/*' name="files[]" multiple="multiple">
                        <button type="submit" class="btn btn-primary" value="submit">Publish</button>
                    </form>
                </div>
                <div class="myPosts">
                    {% for post in allPosts|reverse %}
                        <div class="postAndComment">
                            <span><b>{{ user.fullName }}</b></span> in <span><b>{{ post.time }}</b></span>
                            <div class="postText">
                                <p>{{ post.text }}</p>
                            </div>
                            {% if post.images|length == 1 %}
                                <img src="{{ asset(post.images[0].url) }}" alt="" class="img-fluid">
                            {% elseif post.images|length > 1 %}
                                <div id="slider">
                                    <a href="#" class="control_next">></a>
                                    <a href="#" class="control_prev"><</a>
                                    <ul>
                                        {% for image in post.images %}
                                            <li><img src="{{ asset(image.url) }}" alt="" class="img-fluid"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% for comment in post.comments %}
                                <div class="comments">
                                    <p><em>Commented by </em><b>{{ comment.user }}</b><em> at </em><b>{{ comment.time }}</b></p>
                                    <p>{{ comment.text }}</p>
                                </div>
                            {% endfor %}
                            <form action="{{ path('leave_comment', {postId: post.id}) }}" method="post">
                                <input type="text" class="commentInputField" name="commentInputField" placeholder="Leave a comment...">
                                <button type="submit" class="commentButton float-right">Comment</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {#    <a href="{{ path('user_index') }}">back to list</a>#}

    {#    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}

    {#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
